<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>me.mospan.keyboardlayout.clean-full-ansi</string>
	<key>CFBundleName</key>
	<string>clean-full-ansi</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_minimal-ansi-en</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISIconIsTemplate</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>me.mospan.keyboardlayout.clean-full-ansi.minimal-ansi-en</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_minimal-ansi-ru</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISIconIsTemplate</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>me.mospan.keyboardlayout.clean-full-ansi.minimal-ansi-ru</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
</dict>
</plist>
